#layout>main>.page[page="exillust"]{
    [ng-controller="page-exillust-types"]{
        display:    flex;
        flex-flow:  column nowrap;
        position:   relative;
        width:      100%;
        height:     100%;
        .toolbar{
            flex:   0;
        }
        .list{
            flex:       1;
            overflow:   hidden;
            overflow-y: hidden;
        }
    }
}